footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 1.3rem;

  li {
    list-style: none;
    display: inline-block;
    margin-left: 5rem;
  }
  a {
    color: $blinding-white;
    text-decoration: none;
    transition: color 0.5s;
  }
  a:hover {
    color: $nav-background-red-1;
  }
}

.dark-footer {
  background-color: $gray-dark-2;
}
