<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./src/img/icon.png" />
    <link rel="stylesheet" href="./src/style/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>System 13 | Home</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="./src/img/logo.png" alt="SS System 13 Logo" />
      </div>
      <a href="#"><li class="active nav__1">Home</li></a>
      <a href="./system.html" class="nav__2"><li>System</li></a>
      <a href="./github.html" class="nav__3"><li>Github</li></a>
      <a href="https://ssdevelopers.xyz" class="nav__4"><li>Portals</li></a>
    </nav>
    <section class="hero" id="hero">
      <div class="hero__content">
        <div class="hero__text-wrapper">
          <h1 class="hero__text--1">
            What if <br />Matchmaking <br />Was Easy?
          </h1>
          <p>It's time to end "My team isn't fair"</p>
        </div>
        <a href="#learnMore">
          <button class="u-remove-a-eff">Learn More &darr;</button>
        </a>
      </div>
    </section>
    <section class="learn-more" id="learnMore">
      <div class="learn-more__odd">
        <div class="big1">
          <img src="./src/img/Valorant.jpeg" alt="Valorant White" />
        </div>

        <div class="p1">
          <h3>Simple, Flawlass, Fast.</h3>
          <p>
            System13 is a web-application for doing manual Valorant <br />
            fair team matchmaking. <br />
            Using is as easy as <br />
            inputing team member names.
          </p>
          <a href="./system.html">
            <button class="btn">Launch Now &rarr;</button>
          </a>
        </div>
      </div>
      <div class="learn-more__even">
        <div class="p2">
          <h3>Why System13?</h3>
          <p>
            Because System13 provides a seemless experience <br />
            throughout the process of making teams. <br />
            Valorant tournaments like <b>VR Valoleague</b> <br />use System13
            for matchmaking.
          </p>
        </div>
        <div class="big2"><img src="./src/img/Valorant2.png" alt="" /></div>
      </div>
    </section>
    <section class="other">
      <h1>Check out other products from <br />SS Developers</h1>
      <div class="other__List">
        <a href="https://ssdevelopers.xyz/" class="other__List--Portal u-remove-a-eff">
          <h3>Portals</h3>
          <p>Home to all our products</p>
      </a>
      <a href="https://ssdevelopers.xyz/Dev_News/"class="other__List--DevNews u-remove-a-eff">
          <h3>Developer <br />News</h3>
          <p>Fresh News from developers</p>
      </a>
      <a href="https://www.youtube.com/channel/UCO1fVzQocrlgTuehucWi31g" class="other__List--ValoLeague u-remove-a-eff">
          <h3>Valo <br>League</h3>
          <p>Where players compete for the throne</p>
      </a>
      </div>
  </div>
    </section>

    <footer>
      <h3>MPL2.0 Lisence &copy;2021 Prawich & Jirat</h3>
      <ul>
        <a href="https://ssdevelopers.xyz"><li>Portals</li></a>
        <a href="./index.html"><li>Home</li></a>
        <a href="./github.html"><li>GitHub</li></a>
        <a href="./docs.html"><li>Documentation</li></a>
        <a href="./system.html"><li>System</li></a>
        <li>Version 2.1</li>
      </ul>
    </footer>
  </body>
  <script src="./src/script/app.js"></script>
</html>
