@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");
/* line 1, src/sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif; }

/* line 8, src/sass/base/_base.scss */
html {
  font-size: 10px;
  scroll-behavior: smooth; }

/* line 13, src/sass/base/_base.scss */
body {
  background: #303030;
  color: #fff; }

/* line 1, src/sass/base/_utilities.scss */
.u-remove-a-eff {
  text-decoration: none;
  color: white; }

/* line 3, src/sass/components/_learnmore.scss */
.learn-more h3 {
  font-size: 5rem;
  margin-bottom: 2rem; }

/* line 7, src/sass/components/_learnmore.scss */
.learn-more p {
  font-size: 2rem; }

/* line 11, src/sass/components/_learnmore.scss */
.learn-more__odd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  grid-template-areas: "big1 p1";
  padding: 4rem 4rem 4rem 4rem; }
  /* line 18, src/sass/components/_learnmore.scss */
  .learn-more__odd img {
    border-radius: 1.1rem;
    width: 100%; }
  /* line 22, src/sass/components/_learnmore.scss */
  .learn-more__odd .big1 {
    grid-area: big1; }
  /* line 26, src/sass/components/_learnmore.scss */
  .learn-more__odd .p1 {
    padding-top: 3rem;
    grid-area: p1; }

/* line 32, src/sass/components/_learnmore.scss */
.learn-more__even {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  grid-template-areas: "p2 big2";
  background-color: #404040;
  padding: 4rem 4rem 4rem 4rem; }
  /* line 40, src/sass/components/_learnmore.scss */
  .learn-more__even img {
    border-radius: 1.1rem;
    width: 100%; }
  /* line 44, src/sass/components/_learnmore.scss */
  .learn-more__even .big2 {
    grid-area: big2; }
  /* line 48, src/sass/components/_learnmore.scss */
  .learn-more__even .p2 {
    padding-top: 3rem;
    grid-area: p2; }

/* line 1, src/sass/components/_button.scss */
.btn {
  color: #fff;
  text-decoration: none;
  background-color: #404040;
  border: none;
  width: 40rem;
  height: 5rem;
  border-radius: 1.1rem;
  margin-top: 5rem;
  transition: all 0.4s; }
  /* line 14, src/sass/components/_button.scss */
  .btn:hover {
    color: #272727;
    background-color: #fff;
    transform: scale(1.05);
    box-shadow: white 0px 0px 10px; }
  /* line 21, src/sass/components/_button.scss */
  .btn:active {
    box-shadow: black 0px 0px 10px;
    transform: scale(0.9); }

/* line 27, src/sass/components/_button.scss */
.dark-btn {
  background-color: #202020; }

/* line 1, src/sass/layout/_navigation.scss */
nav {
  width: 100%;
  overflow: hidden;
  height: 9rem;
  padding-bottom: 1rem;
  background-color: #202020;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "logo a1 a2 a3 a4"; }
  /* line 16, src/sass/layout/_navigation.scss */
  nav .logo {
    display: flex;
    align-items: center; }
    /* line 20, src/sass/layout/_navigation.scss */
    nav .logo img {
      padding: 2% 0 0 2%;
      width: 20rem;
      height: 6rem;
      grid-area: logo;
      cursor: pointer; }
  /* line 29, src/sass/layout/_navigation.scss */
  nav li {
    height: 100%;
    transition: background-color 0.5s;
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding-top: 10%;
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0.6rem; }
  /* line 44, src/sass/layout/_navigation.scss */
  nav a {
    height: 100%;
    background-color: #202020;
    margin-left: 3rem;
    margin: 0.5rem;
    text-decoration: none;
    grid-area: auto; }
    /* line 57, src/sass/layout/_navigation.scss */
    nav a :hover {
      background-color: #b1333e; }
  /* line 61, src/sass/layout/_navigation.scss */
  nav .active {
    background-color: #fa4454;
    border-radius: 0.6rem; }
    /* line 65, src/sass/layout/_navigation.scss */
    nav .active :hover {
      background-color: #b1333e; }

/* line 72, src/sass/layout/_navigation.scss */
.nav__1 {
  grid-area: a1; }

/* line 75, src/sass/layout/_navigation.scss */
.nav__1 {
  grid-area: a2; }

/* line 78, src/sass/layout/_navigation.scss */
.nav__1 {
  grid-area: a3; }

/* line 81, src/sass/layout/_navigation.scss */
.nav__1 {
  grid-area: a4; }

/* line 1, src/sass/layout/_footer.scss */
footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 1.3rem;
  width: 100%; }
  /* line 11, src/sass/layout/_footer.scss */
  footer li {
    list-style: none;
    display: inline-block;
    margin-left: 5rem; }
  /* line 16, src/sass/layout/_footer.scss */
  footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s; }
  /* line 21, src/sass/layout/_footer.scss */
  footer a:hover {
    color: #fa4454; }

/* line 26, src/sass/layout/_footer.scss */
.dark-footer {
  background-color: #202020; }

/* line 1, src/sass/pages/_docs.scss */
.pdf-embedded {
  width: 100%;
  height: 81.5vh; }

/* line 1, src/sass/pages/_system.scss */
.result {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1rem;
  grid-template-areas: "attack defend start";
  justify-content: space-between;
  padding-top: 2rem;
  margin-bottom: 2rem; }

/* line 11, src/sass/pages/_system.scss */
.attackers-wrapper {
  grid-area: attack;
  text-align: left;
  overflow: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  /* line 16, src/sass/pages/_system.scss */
  .attackers-wrapper::-webkit-scrollbar {
    display: none; }
  /* line 22, src/sass/pages/_system.scss */
  .attackers-wrapper .attackers__label {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 6% 0 0 5%;
    height: 6rem;
    background-image: linear-gradient(to top left, #ff2121, #ff5c5c);
    width: 90%;
    margin: auto;
    border-radius: 1.1rem 1.1rem 0 0; }
  /* line 34, src/sass/pages/_system.scss */
  .attackers-wrapper .attackers {
    background-color: #202020;
    width: 90%;
    height: 50rem;
    margin: auto;
    border-radius: 0 0 1.1rem 1.1rem;
    text-align: center;
    overflow: scroll; }
    /* line 43, src/sass/pages/_system.scss */
    .attackers-wrapper .attackers__row {
      padding: 2.25rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem solid rgba(105, 105, 105, 0.596);
      font-size: 1.7rem; }
      /* line 51, src/sass/pages/_system.scss */
      .attackers-wrapper .attackers__row--label {
        font-weight: 600; }

/* line 58, src/sass/pages/_system.scss */
.defenders-wrapper {
  grid-area: defend;
  text-align: center; }
  /* line 62, src/sass/pages/_system.scss */
  .defenders-wrapper .defenders__label {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 6rem;
    background-image: linear-gradient(to top left, #0b59ff, #1381ff);
    width: 90%;
    margin: auto;
    padding: 6% 0 0 5%;
    border-radius: 1.1rem 1.1rem 0 0; }
  /* line 78, src/sass/pages/_system.scss */
  .defenders-wrapper .defenders {
    background-color: #202020;
    width: 90%;
    height: 50rem;
    margin: auto;
    border-radius: 0 0 1.1rem 1.1rem;
    text-align: center;
    overflow: scroll; }
    /* line 87, src/sass/pages/_system.scss */
    .defenders-wrapper .defenders__row {
      padding: 2.25rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem solid rgba(105, 105, 105, 0.596);
      font-size: 1.7rem; }
      /* line 95, src/sass/pages/_system.scss */
      .defenders-wrapper .defenders__row--label {
        font-weight: 600; }

/* line 129, src/sass/pages/_system.scss */
.start {
  color: black; }
  /* line 131, src/sass/pages/_system.scss */
  .start__wrapper {
    grid-area: start;
    background-color: #202020;
    border-radius: 1.1rem; }
  /* line 137, src/sass/pages/_system.scss */
  .start__text {
    padding: 5% 0 5% 5%;
    border-bottom: 1px solid rgba(105, 105, 105, 0.596); }
    /* line 142, src/sass/pages/_system.scss */
    .start__text h1 {
      font-size: 4rem; }
    /* line 146, src/sass/pages/_system.scss */
    .start__text p {
      font-size: 1.5rem; }
  /* line 151, src/sass/pages/_system.scss */
  .start__form {
    display: grid;
    margin: 2rem;
    margin-top: 2rem;
    border-radius: 1.1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5fr 0.6fr;
    grid-template-areas: "playerleft playerright" "submit submit";
    background-color: #303030; }
    /* line 163, src/sass/pages/_system.scss */
    .start__form button {
      padding-left: 2%;
      grid-area: submit;
      margin: 0 0 5% 5%;
      width: 90%; }
    /* line 170, src/sass/pages/_system.scss */
    .start__form--left {
      padding: 2rem;
      grid-area: playerleft;
      display: flex;
      flex-direction: column; }
      /* line 176, src/sass/pages/_system.scss */
      .start__form--left input {
        border: none;
        height: 3rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        transition: all 0.2s;
        padding: 1rem;
        background-color: #303030;
        color: white;
        border: 1px #4d4d4d solid; }
        /* line 187, src/sass/pages/_system.scss */
        .start__form--left input:focus {
          padding: 2rem; }
    /* line 192, src/sass/pages/_system.scss */
    .start__form--right {
      padding: 2rem;
      grid-area: playerright;
      display: flex;
      flex-direction: column; }
      /* line 198, src/sass/pages/_system.scss */
      .start__form--right input {
        border: none;
        height: 3rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        padding: 1rem;
        transition: all 0.2s;
        background-color: #303030;
        color: white;
        border: 1px #4d4d4d solid; }
        /* line 209, src/sass/pages/_system.scss */
        .start__form--right input:focus {
          padding: 2rem; }

/* line 1, src/sass/pages/_github.scss */
.github {
  padding: 2vw;
  overflow-x: hidden; }
  /* line 4, src/sass/pages/_github.scss */
  .github h1 {
    font-size: 4vw; }
  /* line 9, src/sass/pages/_github.scss */
  .github p {
    font-size: 1vw;
    margin-bottom: 2rem; }
  /* line 14, src/sass/pages/_github.scss */
  .github h2 {
    font-size: 2vw;
    margin-bottom: 2rem; }
  /* line 19, src/sass/pages/_github.scss */
  .github__container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 60vh;
    grid-template-areas: "img text";
    grid-gap: 2vw;
    margin-top: 3rem; }
  /* line 29, src/sass/pages/_github.scss */
  .github__img {
    grid-area: img;
    height: fit-content;
    width: 100%;
    border-radius: 1.1rem; }
  /* line 37, src/sass/pages/_github.scss */
  .github__text {
    border-radius: 1.1rem;
    background-color: #272727;
    padding: 3rem;
    position: relative; }
  /* line 45, src/sass/pages/_github.scss */
  .github__btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
    bottom: 4vh;
    width: 100%; }
  /* line 56, src/sass/pages/_github.scss */
  .github__btn {
    color: #fff;
    text-decoration: none;
    background-color: #404040;
    border: none;
    width: 30rem;
    height: 5rem;
    margin-right: 2rem;
    border-radius: 1.1rem;
    transition: all 0.4s; }
    /* line 70, src/sass/pages/_github.scss */
    .github__btn:hover {
      color: #272727;
      background-color: #fff;
      transform: scale(1.05); }
    /* line 76, src/sass/pages/_github.scss */
    .github__btn:active {
      transform: scale(0.9); }
