.hero {
  text-align: center;
  // display: flex;
  width: 100vw;
  height: 80vh;
  background-color: $gray-dark-3;
  // justify-content: center;
  // align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/vw.png");
  background-size: 100%;
  background-position-y: 50;

  &__content {
    font-size: 5rem;
    margin: 1.5rem;
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 20%;
    text-align: left;

    p {
      font-size: 2rem;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    button {
      border-radius: 0.9rem;
      background-color: rgb(250, 68, 84);
      font-size: 2rem;
      padding: 1.5rem;
      margin-top: 2rem;
      font-weight: 400;
      transition: all 0.2s;
      border: none;

      &:hover {
        background: linear-gradient(
          137deg,
          rgba(250, 68, 84, 1) 33%,
          rgba(255, 0, 0, 1) 100%
        );
        transform: scale(1.1);
      }
      &:active {
        background-color: $search-red-1;
        transform: scale(0.9);
      }
    }
  }
}
