@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");
/* line 1, src/sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif; }

/* line 8, src/sass/base/_base.scss */
html {
  font-size: 10px;
  scroll-behavior: smooth; }

/* line 13, src/sass/base/_base.scss */
body {
  background: #303030;
  color: #fff; }

/* line 1, src/sass/base/_utilities.scss */
.u-remove-a-eff {
  text-decoration: none;
  color: white; }

/* line 1, src/sass/components/_hero.scss */
.hero {
  text-align: center;
  width: 100vw;
  height: 80vh;
  background-color: #1b1b1b;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/vw.png");
  background-size: 100%;
  background-position-y: 50; }
  /* line 14, src/sass/components/_hero.scss */
  .hero__content {
    font-size: 5rem;
    margin: 1.5rem;
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 20%;
    text-align: left; }
    /* line 23, src/sass/components/_hero.scss */
    .hero__content p {
      font-size: 2rem;
      margin-top: 5%;
      margin-bottom: 5%; }
    /* line 28, src/sass/components/_hero.scss */
    .hero__content a {
      border-radius: .5rem;
      background-color: #dc3d4b;
      font-size: 2rem;
      padding: 1.5rem;
      margin-top: 2rem;
      font-weight: 400;
      outline-offset: 1rem;
      transition: all .2s; }
      /* line 38, src/sass/components/_hero.scss */
      .hero__content a:hover {
        background-color: #ff424f;
        transform: scale(1.05); }

/* line 2, src/sass/components/_learnmore.scss */
.learn-more h3 {
  font-size: 6rem;
  margin-bottom: 2rem; }

/* line 6, src/sass/components/_learnmore.scss */
.learn-more p {
  font-size: 3rem; }

/* line 10, src/sass/components/_learnmore.scss */
.learn-more__even {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-gap: 3rem;
  grid-template-areas: "p2 big2 big2";
  padding: 2rem 4rem 2rem 4rem;
  background-color: #404040; }
  /* line 18, src/sass/components/_learnmore.scss */
  .learn-more__even img {
    border-radius: 1.1rem;
    width: 100%; }
  /* line 22, src/sass/components/_learnmore.scss */
  .learn-more__even .big2 {
    grid-area: big2; }
  /* line 25, src/sass/components/_learnmore.scss */
  .learn-more__even .p2 {
    grid-area: p2; }

/* line 30, src/sass/components/_learnmore.scss */
.learn-more__odd {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-gap: 3rem;
  grid-template-areas: "big1 big1 p1";
  padding: 2rem 4rem 2rem 4rem; }
  /* line 37, src/sass/components/_learnmore.scss */
  .learn-more__odd img {
    border-radius: 1.1rem;
    width: 100%; }
  /* line 41, src/sass/components/_learnmore.scss */
  .learn-more__odd .big1 {
    grid-area: big1; }
  /* line 45, src/sass/components/_learnmore.scss */
  .learn-more__odd .p1 {
    padding-top: 3rem;
    grid-area: p1; }

/* line 1, src/sass/components/_button.scss */
button {
  color: #fff;
  text-decoration: none;
  background-color: #404040;
  border: none;
  width: 40rem;
  height: 5rem;
  border-radius: 1.1rem;
  margin-top: 5rem;
  transition: color 0.5s;
  transition: background-color 0.5s;
  transition: box-shadow 0.5s; }

/* line 14, src/sass/components/_button.scss */
button:hover {
  color: #272727;
  background-color: #fff;
  box-shadow: #fff 0.5rem 0.5rem 0.5rem; }

/* line 20, src/sass/components/_button.scss */
.dark-btn {
  background-color: #202020; }

/* line 1, src/sass/components/_modal.scss */
.hidden {
  display: none; }

/* line 5, src/sass/components/_modal.scss */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #1b1b1b;
  padding: 6rem;
  border-radius: 1.1rem;
  z-index: 10;
  text-align: center; }
  /* line 17, src/sass/components/_modal.scss */
  .modal h3 {
    font-size: 4rem;
    margin: 1rem;
    color: #dc3d4b; }
  /* line 22, src/sass/components/_modal.scss */
  .modal p {
    font-size: 2rem; }

/* line 27, src/sass/components/_modal.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5; }

/* line 1, src/sass/layout/_navigation.scss */
nav {
  width: 100vw;
  overflow: hidden;
  height: 9rem;
  padding-bottom: 1rem;
  background-color: #202020;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "logo a1 a2 a3 a4"; }
  /* line 16, src/sass/layout/_navigation.scss */
  nav img {
    padding: 2% 0 0 2%;
    width: 20rem;
    height: 6rem;
    grid-area: logo; }
  /* line 23, src/sass/layout/_navigation.scss */
  nav li {
    height: 100%;
    transition: background-color 0.5s;
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding-top: 10%;
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: .6rem; }
  /* line 38, src/sass/layout/_navigation.scss */
  nav a {
    height: 100%;
    background-color: #202020;
    margin-left: 3rem;
    margin: 0.5rem;
    text-decoration: none;
    grid-area: auto; }
    /* line 51, src/sass/layout/_navigation.scss */
    nav a :hover {
      background-color: #fa4454; }
  /* line 55, src/sass/layout/_navigation.scss */
  nav .active {
    background-color: #dc3d4b;
    border-radius: .6rem; }

/* line 62, src/sass/layout/_navigation.scss */
.nav__1 {
  grid-area: a1; }

/* line 65, src/sass/layout/_navigation.scss */
.nav__1 {
  grid-area: a2; }

/* line 68, src/sass/layout/_navigation.scss */
.nav__1 {
  grid-area: a3; }

/* line 71, src/sass/layout/_navigation.scss */
.nav__1 {
  grid-area: a4; }

/* line 1, src/sass/layout/_footer.scss */
footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem 2rem 5rem;
  font-size: 1.3rem; }
  /* line 7, src/sass/layout/_footer.scss */
  footer li {
    list-style: none;
    display: inline-block;
    margin-left: 5rem; }
  /* line 12, src/sass/layout/_footer.scss */
  footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s; }
  /* line 17, src/sass/layout/_footer.scss */
  footer a:hover {
    color: #fa4454; }

/* line 22, src/sass/layout/_footer.scss */
.dark-footer {
  background-color: #202020; }

/* line 1, src/sass/pages/_system.scss */
.result {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "attack defend";
  justify-content: space-between;
  padding-top: 2rem;
  margin-bottom: 2rem; }

/* line 11, src/sass/pages/_system.scss */
.attackers-wrapper {
  grid-area: attack;
  text-align: center; }
  /* line 15, src/sass/pages/_system.scss */
  .attackers-wrapper .attackers__label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-image: linear-gradient(to top left, #cf0202, orangered);
    width: 50%;
    margin: auto;
    border-radius: 1.1rem;
    margin-bottom: 2rem; }
  /* line 27, src/sass/pages/_system.scss */
  .attackers-wrapper .attackers {
    background-color: #202020;
    width: 50%;
    height: 50rem;
    margin: auto;
    border-radius: 1.1rem;
    text-align: center;
    overflow: scroll; }
    /* line 36, src/sass/pages/_system.scss */
    .attackers-wrapper .attackers__row {
      padding: 2.25rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem solid rgba(105, 105, 105, 0.596);
      font-size: 1.7rem; }
      /* line 44, src/sass/pages/_system.scss */
      .attackers-wrapper .attackers__row--label {
        font-weight: 600; }

/* line 51, src/sass/pages/_system.scss */
.defenders-wrapper {
  grid-area: defend;
  text-align: center; }
  /* line 55, src/sass/pages/_system.scss */
  .defenders-wrapper .defenders__label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-image: linear-gradient(to top left, #0243cf, #0077ff);
    width: 50%;
    margin: auto;
    border-radius: 1.1rem;
    margin-bottom: 2rem; }
  /* line 71, src/sass/pages/_system.scss */
  .defenders-wrapper .defenders {
    background-color: #202020;
    width: 50%;
    height: 50rem;
    margin: auto;
    border-radius: 1.1rem;
    text-align: center;
    overflow: scroll; }
    /* line 80, src/sass/pages/_system.scss */
    .defenders-wrapper .defenders__row {
      padding: 2.25rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0.1rem solid rgba(105, 105, 105, 0.596);
      font-size: 1.7rem; }
      /* line 88, src/sass/pages/_system.scss */
      .defenders-wrapper .defenders__row--label {
        font-weight: 600; }
