.learn-more {
  h3 {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 3rem;
  }

  &__even {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-gap: 3rem;
    grid-template-areas: "p2 big2 big2";

    padding: 2rem 4rem 2rem 4rem;

    img {
      border-radius: 1.1rem;
      width: 100%;
    }
    .big2 {
      grid-area: big2;
    }
    .p2 {
      grid-area: p2;
    }
    background-color: $gray-light-1;
  }
  &__odd {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-gap: 3rem;
    grid-template-areas: "big1 big1 p1";

    padding: 2rem 4rem 2rem 4rem;
    img {
      border-radius: 1.1rem;
      width: 100%;
    }
    .big1 {
      grid-area: big1;
    }

    .p1 {
      padding-top: 3rem;
      grid-area: p1;
    }
  }
}
