.login {
  height: 90vh;
  background-image: linear-gradient(to bottom right, #313131, $btn-red-1);
  position: relative;
  overflow: hidden;

  &-left {
    grid-area: "left";
  }

  &-con {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $gray-dark-2;
    border-radius: 1.1rem;
    height: 60vh;
    width: 60vw;
    padding: 3rem;
  }

  &-text {
    h1 {
      font-size: 4rem;
    }
    p {
      padding: 0 1rem 4rem 0;
      font-size: 1.5rem;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &Wrapper {
      grid-area: "left";
      gap: 1rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }

    &__input {
      width: 40%;
      padding: 1rem;
      background-color: #303030;
      color: white;
      border: 1px rgb(77, 77, 77) solid;
      border-radius: 0.5rem;
    }

    &__imgWrapper {
      width: 25rem;
      height: 25rem;
      background-color: #303030;
      border: 1px rgb(77, 77, 77) solid;
      border-radius: 0.5rem;
      color: white;
      font-size: 3rem;
      position: relative;
      transition: all 0.2s;

      &:hover {
        color: $paragrph-text-1;
        background-color: $blinding-white;
        transform: scale(1.05);
        box-shadow: white 0px 0px 10px;
      }

      &:active {
        box-shadow: rgb(0, 0, 0) 0px 0px 10px;
        transform: scale(0.9);
      }
    }

    &__img {
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
    }

    &__submit {
      background-color: $nav-background-red-1;
      width: 10rem;
      height: 100%;
      border: none;
      position: absolute;
      border-radius: 0 0.5rem 0.5rem 0;
      transition: all 0.2s;
      right: 0;
      top: 0;

      color: white;
      font-size: 4rem;

      &:hover {
        width: 12rem;
      }

      &:focus {
        width: 100%;
        border-radius: 0.5rem;
      }
    }

    &__cantSubmit {
      background-color: #616161;
      width: 10rem;
      height: 100%;
      border: none;
      position: absolute;
      border-radius: 0 0.5rem 0.5rem 0;
      transition: all 0.2s;
      right: 0;
      top: 0;
      cursor: not-allowed;

      color: white;
      font-size: 4rem;
    }

    &__signup {
      color: #b3b3b3;
      font-size: 1.4rem;
      border-radius: 0.2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.break {
  flex-basis: 100%;
  height: 0;
  width: 50rem;
}

.previewImg {
  border-radius: 1.1rem;
  object-fit: cover;
}
