* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: $gray-dark-1;
  color: $blinding-white;
}
