$gray-dark-1: #303030;
$gray-dark-2: #202020;
$gray-dark-3: rgb(27, 27, 27);

$gray-light-1: #404040;

$paragrph-text-1: #272727;

$nav-background-red-1: #fa4454;
$search-red-1: #b1333e;
$btn-red-1: #dc3d4b;

$blinding-white: #fff;
