.modal {
  position: fixed;
  top: 25vh;
  left: 23vw;
  padding: 0 0 2rem 0;
  border-radius: 1.1rem;
  overflow: hidden;
  z-index: 10;

  background-color: $gray-dark-2;
  height: 30rem;
  width: 55%;

  &__header {
    font-size: 3rem;
    padding: 2rem;
    display: flex;
    align-items: center;

    h1 {
      padding-left: 1rem;
      font-size: 3rem;
    }
  }

  p {
    padding: 2rem;
    font-size: 2rem;
  }

  button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 20rem;
    background-color: $gray-dark-1;
  }

  &__link {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 20rem;
    background-color: $gray-dark-1;

    p {
      font-size: 1.5rem;
      justify-content: center;
      text-align: center;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  overflow: hidden;
}
