.nav {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  background: $gray-dark-2;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 10s;

  // Setup Grid
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-areas: "logo 1 2 3 4 Explore";
  align-items: center;
  grid-gap: 1rem;

  &__center {
    text-align: center;
    & > * {
      transition: all 0.2s;
    }
  }
  &__logo {
    grid-area: "logo";
    padding-left: 1rem;

    img {
      height: 5.5rem;
      width: auto;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__1 {
    grid-area: "1";

    & > :hover {
      color: $nav-background-red-1;
    }
  }

  &__2 {
    grid-area: "2";
    & > {
      transition: all 0.2s;
    }
    & > :hover {
      color: $nav-background-red-1;
    }
  }

  &__3 {
    grid-area: "3";
    & > {
      transition: all 0.2s;
    }
    & > :hover {
      color: $nav-background-red-1;
    }
  }
  &__4 {
    grid-area: "4";
    display: grid;
    align-self: center;

    & > {
      transition: all 0.2s;
    }
    & > :hover {
      color: $nav-background-red-1;
    }
  }
  &__5 {
    grid-area: "Explore";
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1.1rem;
    margin-right: 2rem;
    transition: all 0.4s;

    background-color: #404040;
    &:hover {
      background-color: $blinding-white;
      box-shadow: $blinding-white 0 0 10px;
      transform: scale(1.05);
      color: $paragrph-text-1;
    }
    &:active {
      transform: scale(0.9);
      box-shadow: $paragrph-text-1 0 0 10px;
    }
  }
}

.active > * {
  color: $nav-background-red-1;
}
